body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
  background: #111;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  color: #00adb5;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: #222;
  color: white;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
}

.links a {
  font-size: 22px;
  margin: 10px;
  color: #00adb5;
}

/* SECTIONS */
section {
  padding: 40px 10%;
}

.skills-grid,
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.skill-card,
.project-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.skill-card img {
  width: 50px;
}

/* CONTACT */
.contact form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border: none;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
