body {
  body {
  height: 100vh;
  background-image: url("images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA3L2pvYjE0NDgtYmFja2dyb3VuZC0wNGEteF8xLmpwZw.webp");
  background-size: cover;        /* covers full screen */
  background-position: center;   /* center image */
  background-repeat: no-repeat;  /* no repeat */
}

  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  
}

section {
  padding: 40px 10%;
}

.hero {
 
  color: white;
  text-align: center;
  padding: 50px 20px;
  
  
}


.profile-img {
  width: 150px;
  border-radius: 50%;
}

.links a {
  color: #00adb5;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.about, .skills, .projects, .languages, .contact, .self {
  
  margin: 20px auto;
  border-radius: 8px;
}
.skills {
 
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img {
  width: 50px;
}

.skill-card p {
  margin-top: 10px;
  font-weight: bold;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.skill-box {
  margin-bottom: 15px;
}

.projects {
  padding: 40px;
  text-align: center;   /* center the title */
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  justify-items: center;   /* ⭐ cards center-la */
  margin-top: 30px;
}

/* PROJECT CARD */
.project-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;       /* ⭐ equal width */
  text-align: center;     /* content center */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* HOVER */
.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* LINKS */
.project-card a {
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 15px;
  background: #eaeaea;
  border-radius: 8px;
  text-decoration: none;
  color: blue;
}


.languages ul, .self ul {
  list-style: square;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact input, .contact textarea {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
